* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Serif Display', serif;
}

.navbar {
  font-size: 18px;
  background-color: #fff;
  /* background-image: linear-gradient(260deg, #2376ae 0%, #c16ecf 100%); */
  padding: 10px;
  margin: 0 0 10px 0;
}

.main-nav {
  list-style-type: none;
  display: none;
}

.nav-links, .logo {
  text-decoration: none;
  color: #2c2b2b;
}

.main-nav li {
  text-align: center;
  margin: 15px auto;
}

.logo {
  display: inline-block;
  font-size: 22px;
  margin-top: 10px;
  margin-left: 20px;
}

.navbar-toggle {
  position: absolute;
  top: 6px;
  right: 20px;
  cursor: pointer;
  color: #2c2b2b;
  font-size: 24px;
  padding: 10px;
  border: 2px solid #2c2b2b;
  width: 50px;
  height: 50px;
  text-align: center;
}

.active {
  display: block;
}

img {
  max-width: 100%;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro-image-container {
  width: 100%;
}

.intro-image-container img {
  width: 100%;
}

.intro-text-container {
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  width: 100%;
  text-align: center;
  background-color: #2d2640;
  color: #fff;
  background-image: url(../images/bg-pattern-intro-left-mobile.svg), url(../images/bg-pattern-intro-right-mobile.svg);
  background-position: left top, right bottom;
  background-repeat: no-repeat;
  padding: 5rem 0;
}

.intro-text-header {
  font-family: 'DM Serif Display', serif;
  padding: 20px 10px;
  font-weight: 400;
  font-size: 58px;
}

.intro-text-paragraph {
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.secondary-button {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  width: 150px;
  height: 50px;
  margin: 20px;
}

/* Services  */

.services {
  width: 100%;
  padding: 0 0 5rem 0;
}

.services-header-container {
  width: 100%;
  padding: 50px 20px 20px 20px;
  text-align: center;
}

.services-header {
  padding: 20px 10px;
  font-size: 40px;
}

.services-horizontal-rule {
  margin: 5rem 9rem 2rem 9rem;
}

.services-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 6rem 0;
}

.services-card {
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding: 20px;
}

.services-card-header {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  padding: 20px 0;
}

.services-card-text {
  color: #2c2b2b;
  line-height: 1.5;
}

.services-how-we-work {
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  margin: 20px;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.how-we-work-header {
  font-size: 50px;
  padding: 20px;
}

.how-we-work-button {
  background-color: transparent;
  color: #fff;
  width: 150px;
  height: 50px;
  margin: 20px;
  border: 1px solid #fff;
}

.footer-section {
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-position: top center;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding: 5rem 0 0 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-header {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.footer-social-links {
  text-align: center;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
}

.footer-card {
  display: flex;
  text-align: center;
  padding: 20px;
}

.footer-list {
  width: 100%;
  list-style: none;
}

.footer-list li {
  padding: 10px;
}

.footer-list .footer-link-header {
  padding: 20px 10px;
}

.footer-link {
  font-weight: 700;
}

.footer-rule {
  margin: 20px 30px;
}

@media screen and (min-width: 768px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
  }
  .main-nav li {
    margin: 0;
  }
  .nav-links {
    margin-left: 40px;
  }
  .logo {
    margin-top: 0;
  }
  .navbar-toggle {
    display: none;
  }
  .logo:hover, .nav-links:hover {
    color: rgba(255, 255, 255, 1);
  }
  .services-card-container {
    flex-direction: row;
  }
}