* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'DM Serif Display', serif;
}

.navbar {
  font-family: 'Karla', sans-serif;
  font-size: 18px;
  background-color: #fff;
  padding: 10px 0 0 0;
}

.nav-links-container {
  background-color: #2d2640;
}

.main-nav {
  list-style-type: none;
  display: none;
  background-image: url(../images/bg-pattern-mobile-nav.svg);
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: contain;
  padding: 0 0 22rem 0;
  margin: -0.4rem 0 0 0;
  text-align: center;
}

.navbar-header {
  padding: 20px;
}

.nav-links {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.main-nav li {
  text-align: center;
  padding: 20px 10px;
  color: #fff;
}

.logo {
  display: inline-block;
  font-size: 37px;
  font-weight: 700;
  margin-top: -5px;
  margin-left: 20px;
  color: #2d2640;
  text-decoration: none;
}

.logo:hover {
  color: #2d2640;
  text-decoration: none;
}

.navbar-toggle {
  position: absolute;
  top: 19px;
  right: 20px;
  cursor: pointer;
  color: #2c2b2b;
  font-size: 24px;
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
}

.active {
  display: block;
}

img {
  max-width: 100%;
}

.intro {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.intro-image-container {
  width: 100%;
}

.intro-image-container img {
  width: 100%;
}

.intro-text-container {
  position: relative;
  font-family: 'Karla', sans-serif;
  font-weight: 400;
  width: 100%;
  text-align: center;
  background-color: #2d2640;
  color: #fff;
  background-image: url(../images/bg-pattern-intro-left-mobile.svg);
  background-position: left top;
  background-repeat: no-repeat;
  padding: 5rem 0;
}

.text-container-rule {
  display: none;
}

.intro-text-header {
  font-family: 'DM Serif Display', serif;
  padding: 20px 10px;
  font-weight: 700;
  font-size: 58px;
}

.intro-text-paragraph {
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.5;
}

.secondary-button {
  background-color: transparent;
  border: 3px solid #fff;
  color: #fff;
  width: 150px;
  height: 50px;
  margin: 20px;
}

.right-pattern {
  position: absolute;
  right: 1px;
}

.secondary-btn {
  border: solid #fff;
  width: 200px;
  height: 70px;
  color: #fff;
  padding: 10px;
  font-size: 20px;
  background-color: transparent;
}

/* Services  */

.services {
  width: 100%;
  padding: 0 0 5rem 0;
}

.services-header-container {
  width: 100%;
  padding: 50px 20px 20px 20px;
  text-align: center;
}

.services-header {
  padding: 20px 10px;
  font-size: 40px;
}

.services-horizontal-rule {
  margin: 5rem 9rem 2rem 9rem;
}

.services-card-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 0 6rem 0;
}

.services-card {
  font-family: 'Karla', sans-serif;
  text-align: center;
  padding: 20px 30px;
}

.services-card-header {
  font-family: 'DM Serif Display', serif;
  font-size: 30px;
  padding: 20px 0;
}

.services-card-text {
  color: #2c2b2b;
  line-height: 1.5;
}

.services-how-we-work {
  background-color: #2d2640;
  background-image: url(../images/bg-pattern-intro-right-mobile.svg);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  margin: 20px;
  padding: 20px;
  color: #fff;
  text-align: center;
}

.how-we-work-header {
  font-size: 50px;
  padding: 20px;
}

.how-we-work-button {
  background-color: transparent;
  color: #fff;
  width: 150px;
  height: 50px;
  margin: 20px;
  border: 1px solid #fff;
}

.footer-section {
  font-weight: 400;
  font-family: 'Karla', sans-serif;
  background-image: url(../images/bg-pattern-footer-mobile.svg);
  background-position: top center;
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  padding: 9rem 0 0 0;
}

.footer-top {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.footer-header {
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  text-align: center;
  padding: 10px;
}

.footer-list a {
  text-decoration: none;
  color: #2d2640;
}

.footer-list a:hover {
  text-decoration: none;
}

.footer-social-links {
  text-align: center;
}

.footer-social-links i {
  font-size: 30px;
  padding: 20px 10px;
}

.footer-icon {
  padding: 10px;
}

.footer-bottom {
  display: flex;
  flex-direction: column;
}

.footer-card {
  display: flex;
  text-align: center;
  padding: 20px;
}

.footer-list {
  width: 100%;
  list-style: none;
}

.footer-list li {
  padding: 10px;
}

.footer-list .footer-link-header {
  padding: 20px 10px;
}

.footer-link {
  font-weight: 700;
}

.footer-rule {
  margin: 20px 30px;
}

@media screen and (min-width: 800px) {
  .navbar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 0;
    height: 70px;
    align-items: center;
    padding: 50px 0;
  }
  .main-nav {
    display: flex;
    margin-right: 30px;
    flex-direction: row;
    justify-content: flex-end;
    background-image: none;
    padding: 0;
    margin: 0;
  }
  .main-nav li {
    margin: 0;
    padding-top: 6%;
  }
  .nav-links {
    margin-left: 10px;
    color: #2d2640;
  }
  .nav-links-container {
    background-color: transparent;
  }
  .logo {
    margin-top: unset;
    margin-left: 5.5rem;
  }
  .navbar-toggle {
    display: none;
  }
  .secondary-btn {
    border: solid #2d2640;
    color: #2d2640;
    margin: 10px;
  }
}

@media screen and (min-width: 768px) {
  .intro {
    position: relative;
  }
  .intro-image-container {
    position: absolute;
    width: 400px;
    top: 14rem;
    right: 10px;
    z-index: 1;
  }
  .intro-text-container {
    text-align: left;
    padding-left: 6rem;
    background-image: url(../images/bg-pattern-intro-right-desktop.svg);
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
  }
  .intro-text-paragraph {
    max-width: 50%;
  }
  .text-container-rule {
    display: block;
    width: 200px;
    margin-left: 14px;
  }
  .services-horizontal-rule {
    margin: 5rem 9rem 2rem 6rem;
    width: 200px;
  }
  .services-header {
    text-align: left;
    padding: 20px 10px 20px 6rem
  }
  .services-card-container {
    flex-direction: row;
    padding: 0px 6rem;
  }
  .services-card {
    text-align: left;
  }
  .services-how-we-work {
    display: flex;
    flex-direction: row;
    margin: 2rem 8rem;
    background-image: url(../images/bg-pattern-how-we-work-desktop.svg);
    align-items: center;
  }
  .how-we-work-header {
    font-size: 40px;
    text-align: left;
    width: 70%;
  }
  .footer-section {
    background-image: url(../images/bg-pattern-footer-desktop.svg);
    background-position: top left;
    background-size: unset;
    padding: 5rem 8rem 0 8rem;
  }
  .footer-top {
    flex-direction: row;
    align-items: flex-end;
  }
  .footer-header {
    text-align: left;
    width: 50%;
  }
  .footer-bottom {
    flex-direction: row;
    margin-left: -2rem;
  }
  .footer-card {
    width: 25%;
    padding: 2%;
    text-align: left;
  }
  .footer-social-links {
    text-align: right;
    width: 50%;
  }
  .footer-rule {
    margin: 20px 0.5rem;
  }
}